---
import NavbarItem from "../bases/navbar-item.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
import { t } from "@/i18n/config";

const locale = Astro.currentLocale;
const categories = await categoriesHandler.allCategories(locale);
---

<nav class="navbar-center hidden lg:flex container">
  <ul class="menu menu-sm menu-horizontal px-1 mx-auto">
    <NavbarItem item={{ href: "/", label: t(locale, "nav.home") }} />
    <NavbarItem
      item={{
        href: "/articles",
        label: t(locale, "nav.articles"),
        paginated: true,
      }}
    />
    {
      categories.map((category) => (
        <NavbarItem
          item={{
            href: `/categories/${category.data.path}`,
            label: category.data.title,
            paginated: true,
          }}
        />
      ))
    }
  </ul>
</nav>
