---
import Github from "@/assets/svgs/github.astro";
import Search01 from "@/assets/svgs/search-01.astro";
import MenuDropdown from "./menu-dropdown.astro";
import { SITE } from "@/lib/config";
import ThemeController from "../bases/theme-controller.astro";
import LocaleSwitcher from "./locale-switcher.astro";
import { localizePath } from "@/i18n/paths";
import { t } from "@/i18n/config";

const locale = Astro.currentLocale;
const homeUrl = localizePath(locale, "/");
const searchUrl = localizePath(locale, "/search");
---

<div
  class="navbar border-b border-primary-content/80 dark:border-primary-content/20"
>
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a class="text-xl px-2 text-nowrap lg:hidden" href={homeUrl}>
      {t(locale, "site.title")}
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a class="text-xl px-2" href={homeUrl}>
      {t(locale, "site.title")}
    </a>
  </div>
  <div class="navbar-end">
    <ThemeController />
    <LocaleSwitcher />
    <a
      class="btn btn-ghost btn-circle"
      href={searchUrl}
      aria-label={t(locale, "nav.search")}
    >
      <Search01 />
    </a>
    <a
      class="btn btn-ghost btn-circle"
      href={SITE.github}
      target="_blank"
      aria-label="GitHub"
    >
      <Github />
    </a>
  </div>
</div>
